{
  "extends": ["airbnb/hooks", "airbnb"],
  "plugins": ["react"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "linebreak-style": ["error", "windows"],
    "comma-dangle": ["error", "always-multiline"],
    "object-curly-newline": ["error", { "multiline": true }],
    "consistent-return": "error",
    "curly": ["error", "all"],
    "indent": [0, 2, { "SwitchCase": 1 }],
    "max-len": [
      "error",
      80,
      2,
      {
        "ignoreUrls": true,
        "ignoreComments": false,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "quotes": [
      "error",
      "double",
      {
        "avoidEscape": true
      }
    ],
    "eol-last": "warn",
    "import/prefer-default-export": "off",
    "react/prop-types": "off",
    "no-unused-vars": "warn"
  }
}
