.checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  margin: 0 auto 5px;
  cursor: pointer;
  user-select: none;
  padding: 0.5rem;
  &:hover {
    background: rgb(245, 245, 245);
    border-radius: 4px;
  }

  &-content {
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 5px 10px 5px 5px;
    &:focus {
      outline: none;
      text-decoration: none;
    }
    input {
      margin: 5px;
      margin-right: 0.5rem;
      background-color: green !important;
    }
  }

  &-delete {
    background: rgb(255, 155, 155);
    border-width: 0;
    border-radius: 4px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  &-checked {
    text-decoration: line-through;
  }
}

.todo-checked {
  background-color: rgb(223, 255, 223) !important;
}
